*{
    padding: 0;
    margin:0;

    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title-container{
            width:100vw;
            text-align: center;
            background-color:#1871c2;
            color:white;
            height: 10vh;
            font-size:30px;
        }

        #content-container{
            display: flex;
            flex-direction: row;
            width: 100vw;
            height: 90vh;
            font-size: 20px;

            
            #market{
                width: 75vw;
                height: 100%;
                
                .top-container{
                    width: 75vw;
                    height: 10vh;
                    display: flex;
                    justify-content: space-between;
                    
                    .first-part{
                        display: flex;
                        margin-left: 10px;
                        justify-content: center;
                        #name-company{
                            margin-left:10px;
                        }

                        #current-value{
                            font-size: 30px;
                            margin-left:10px;
                        }
                    }
                    
                    .second-part{
                        display: flex;
                        
                        #buy{
                            background-color: green;
                            border:solid black 3px;
                            bordeborder:solid black 3px;
                            border-radius: 20%;
                            width: 10vw;r-radius: 20%;
                            width: 10vw;
                        }
                        #sell{
                            background-color: red;
                            border:solid black 3px;
                            border-radius: 20%;
                            width: 10vw;
                        }

                        #quantity{
                            border:solid black 3px;
                            border-radius: 20%;
                            width: 10vw;
                        }
                    }
                }
                
                #bottom-container{
                    display: flex;
                    align-items: end;
                    width: 75vw;
                    height: 500px;
                    background-color: rgb(151, 146, 146);
                }
            }

            #history{
                height:80vh;
                width: 25vw;
                background-color: white;
                border: black 2px solid;
                overflow: auto;
                

                p{
                    padding:10px;
                    margin:2px;
                    border :solid black 1px;
                    border-radius:20px;
                    display: flex;
                }
            }
        }
    }
}